span.error {
  color: #ff0000a1;
}
.update-link {
  color: #fff;
  text-decoration: none;
}
.alert.alert-danger {
  width: 100% !important;
}
.d-flex.flex-wrap {
  column-gap: 30px;
}
.col-md-4 {
  flex: 0 0 auto;
  width: 31.3%;
}
button.toggle-Class {
  border: none;
  background: unset;
  position: absolute;
  right: 8px;
  top: 36px;
}
.show-hide {
  position: relative;
}
button.toggle-Class img {
  height: 22px;
  width: 22px;
  right: 0;
}